<%if @sms%>
<ul class="chat">
	<%@all_user_messages.each do |sms|%>
	<%unless sms.user%>
	<li class="left">
		<img class="avatar img-polaroid" alt="Caller" src="http://placehold.it/140x140">
		<span class="message"><span class="arrow"></span>
			<span class="from"><%=sms.from_num%></span><br>
			<span class="time"><%=sms.created_at.strftime "%b %e, %l:%M %p"%></span><br>
			<span class="text">
				<%=sms.body%>
			</span>
		</span>	                                  
	</li>
	<%else %>
	<li class="right">
		<img class="avatar img-polaroid" alt="Volunteer" src="http://placehold.it/140x140">
		<span class="message"><span class="arrow"></span>
		<span class="from">Volunteer</span><br>
	<span class="from"><%=sms.from_num%></span><br>
			<span class="time"><%=sms.created_at.strftime "%b %e, %l:%M %p"%></span><br>
			<span class="text">
				<%=sms.body%>
			</span>
		</span>                                  
	</li>
	<%end%>
	<% end %>
</ul>
<%= form_tag({:controller => 'twiml', :action => 'send_sms'}, {:class => "form-horizontal chat-form"}) do |m| %>
<div class="control-group">
		  <label class="control-label" for="inputPassword"><i class="icon-comments-alt"></i> To</label>
			<div class="controls">
				<div class="input-prepend">
				  <span class="add-on"><i class="icon-phone-sign"></i></span><input class="span2" id="prependedInput" size="16" type="text" placeholder="<%=@sms.from_num%>" name="to" value="<%=@sms.from_num%>">
				</div>
			</div>
	</div>
	<div class="control-group">
	<label class="control-label" for="inputPassword">Message</label>
		<div class="controls">
			<textarea id="message" name='message' data-provide="limit" data-counter="#counter"></textarea>
			<br/><br/>
			<em id="counter"></em>
		</div>
	</div>
	<div class="control-group pull-right">
		<div class="controls">
	   <button type="submit" class="btn btn-info">Send</button>
	  </div>
</div>
<% end %>
<% end %>